<h1>Admins#show</h1>
<p>Find me in app/views/admins/show.html.erb</p>
<h1>管理者ページ</h1>

<% @users.each do |a| %>
    <li>
      <%= a.name %>
      <%= link_to "削除", user_path(a.id), data: { confirm: "本当に良いですか？" }, method: :delete %>
    </li>
<% end %>
