<% if @article.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= @article.errors.count %>件のエラーがあります。</h3>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<h2>編集</h2>

<%= render 'form' %>

<p><%= link_to "戻る", user_path(@article.user_id) %></p>
