<div class="main">
  <h2>お気に入り</h2>

  <div class="sidebar">
    <div>
      <h3>< New ></h3>
      <% @articles_new.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <div class="contents">

    <% @favorites.each do |a| %>
        <ul>
          <% @article = Article.find(a.article_id) %>
          <div><h3><%= link_to @article.title, article_path(@article.id) %></h3></div>
          <iframe width="600" height="400" src="<%= @article.movie %>" frameborder="0" allowfullscreen></iframe>
          <%= button_to "削除", favorite_destroy_article_path(@article.id), method: :delete, data: {confirm: "削除していいですか？"} %>
        </ul>
    <% end %>
  </div>
</div>

