<h2>お気に入り</h2>

<% @favorites.each do |a| %>
    <ul>
      <div class="article">
        <div class="content">
          <div class="content-sub">
            <% @article = Article.find(a.article_id) %>
            <div><h3><%= link_to @article.title, article_path(@article.id) %></h3></div>
            <iframe width="500" height="350" src="<%= @article.movie %>" frameborder="0" allowfullscreen></iframe>
            <%= button_to "お気に入り削除", favorite_destroy_article_path(@article.id), method: :delete, data: {confirm: "お気に入りから削除しますか？"} %>
          </div>
        </div>
      </div>
    </ul>
<% end %>

