<div class="main">
  <h2>Article</h2>

  <div class="sidebar">
    <div>
      <h3>< Pickup ></h3>
      <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article.id) %>
          </li>
      <% end %>
      <h3>< New ></h3>
      <% @articles.each do |article| %>
          <li>
            <%= link_to article.title, article_path(article.id) %>
          </li>
      <% end %>
    </div>
  </div>

  <div class="contents">
    <%= render partial: "articles/article_list", locals: {articles: @articles} %>
  </div>
</div>