<div class="main">

<h2><%= @article.title %></h2>

  <div class="sidebar">
    <div>
      <h3>< Pickup ></h3>
      <% @articles_pn.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
      <h3>< New ></h3>
      <% @articles_pn.each do |a| %>
          <li>
            <%= link_to a.title, article_path(a.id) %>
          </li>
      <% end %>
    </div>
  </div>


<div class="contents">
  <div>
    <p><%= @article.content %></p>
  </div>
</div>
</div>
