

    <% @user.follower.each do |friend| %>

        <table>
          <tr>
            <div id="user">
              <div>
                <td><%= image_tag friend.image_url(:thumb_i) %></td>
              </div>
              <div>
                <td><%= link_to friend.name, user_path(friend.id) %></td>
              </div>
            </div>
    <% end %>
    </tr>
    </table>


  <div><%= link_to "[Back]", user_path(@user.id) %></div>

