<h2>User一覧</h2>

<table class="table table-hover">
  <% @users.each do |a| %>
      <% if !(current_user == a) %>

          <tr>
            <td><%= image_tag a.image_url(:thumb_i) %></td>
            <td width="300px"><%= link_to a.name, user_path(a.id) %></td>
            <% if user_signed_in? %>
                <td>
                  <% if follow?(a) %>
                      <%= button_to "follow", follow_user_path(a.id), data: {confirm: "フォローしますか？"}, method: :follow %>
                  <% else %>
                      <%= button_to "unfollow", follow_destroy_user_path(a.id), data: {confirm: "フォローを外しますか？"}, method: :delete %>
                  <% end %>
                </td>
            <% end %>
      <% end %>
      </tr>
  <% end %>
</table>
