<h2>フォロワー</h2>

<table class="table table-hover">

  <%= render partial: "friendship_list", locals: { friends: @user.follower_user } %>

</table>

<div><%= link_to "戻る", user_path(@user.id) %></div>



