/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require_self
 */

.background
{
    /*background-color: #F6F6F6;*/
}

.header
{
    margin-top: 80px;
    margin-right: 280px;
    margin-bottom: -50px;
    border-top: 60px;
    /*background-color: #DAFFE7;*/
}

.menu
{
    margin-top: 10px;
    margin-left: 120px;
    font-size: 22px;

    /*background-color: #FFF0E4;*/
}

.main
{
    margin-top: 80px;
    margin-left: 200px;
    /*margin: 0 auto;*/

    /*height: 600px;*/
    /*width: 1300px;*/
    /*background-color: #FFF0E4;*/
}

.contents
{
    margin: 30px;

    /*float: left;*/
}

.sidebar
{
    float: right;
    margin-right: 280px;

}

.article
{
    padding-bottom: 100px;
}