<h3> 最新記事 </h3>

<ul class="nav nav-sidebar">
  <div>
    <% @recent_articles.each do |article| %>
        <li>
          <%= link_to article.title, article_path(article.id) %>
        </li>
    <% end %>
  </div>
</ul>